{% extends 'gestion/base.html' %}
{% block title %}{{ libro.titulo }}{% endblock %}
{% block content %}
<div class="card shadow-sm">
  <div class="card-header"><h4>{{ libro.titulo }}</h4></div>
  <div class="card-body">
    <p><strong>Autor:</strong>
      <a href="{% url 'detalle_autor' libro.autor.pk %}">{{ libro.autor.nombre }}</a></p>
    <p><strong>Género:</strong> {{ libro.genero }}</p>
    <p><strong>Publicación:</strong> {{ libro.fecha_publicacion }}</p>
    <p><strong>ISBN:</strong> {{ libro.isbn }}</p>
    <div class="d-flex gap-2 mt-3">
      <a href="{% url 'editar_libro' libro.pk %}" class="btn btn-warning btn-sm">Editar</a>
      <a href="{% url 'lista_libros' %}" class="btn btn-secondary btn-sm">Volver</a>
    </div>
  </div>
</div>
{% endblock %}